<h1>
  Add a Favorite Dish
</h1>

<hr>

<%= render("dish_templates/validation_failures.html.erb") %>

<form action="/insert_dish_record" method="post" enctype="multipart/form-data">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @dish.name %>">
  </div>

<div>
  <label for="cuisine">
      Cuisine
  </label>


<select name="cuisine_id" id="cuisine_dropdown">
    <% Cuisine.all.each do |cuisine| %>
      <option value="<%= cuisine.id %>">
        <%= cuisine.name %>
       
      </option>
    <% end %>
    
</select>

</div> 

<div class="row">
  <div class="column">
    <label for="restaurant">
      Restaurant
    </label>
    <input type="text" id="restaurant" name="restaurant" value="<%= @dish.restaurant %>">
  </div>
  <div class="column">
<label for="restaurant">
      Address
    </label>
    <!--<input type="text" id="address" name="address" value="<%#= @restaurant.address %>">-->
  </div>
</div>

  <!--<div>-->
    <!--<label for="restaurant">-->
      <!--Restaurant-->
    <!--</label>-->
    <!--<input type="text" id="restaurant" name="restaurant" value="<%= @dish.restaurant %>">-->
  <!--</div>-->



  <label for="comment_box">Taste Notes</label>
  <textarea id="comment_box" name="dish_comment" placeholder="Enter your thoughts on the food..."></textarea>
  
<!--<form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">-->
  <label>Photo</label>   
  <input type="file" id="photo" name="photo" method="post" class="form-control">

<!--</form>-->

  <button>
    Create dish
  </button>
</form>

<hr>

<a href="/dishes">
  Go back
</a>
