<h1>
  Edit dish #<%= @dish.id %>
</h1>

<hr>

<%= render("dish_templates/validation_failures.html.erb") %>

<form action="/update_dish_record/<%= @dish.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @dish.name %>">
  </div>

  <div>
    <label for="cuisine_id">
      Cuisine
    </label>

    <input type="text" id="cuisine_id" name="cuisine_id" value="<%= @dish.cuisine_id %>">
  </div>

  <button>
    Update dish
  </button>
</form>

<hr>

<a href="/dishes">
  Go back
</a>
